/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    background:#111111;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
  box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight:200;
    text-transform:uppercase;
    min-width:400px;
}

img {
    max-height:100%;
}

.wrapper {
    max-width:900px;
    margin:0 auto;
    width:95%;
    position:relative;
}

.container {
    width:80%;
    background:#353A46;
    margin:0 auto;
}
.spacer {
    height:40px;
}

.ribbon-wrapper {
    text-align:center;
}
.ribbon{ 
    width:88%;
    max-width:1000px;
    height:60px;
    background:#00ADF2; 
    display:inline-block;
    font-family: arial, verdana;
    padding:8px 30px;
    font-size:24px;
    text-transform:uppercase;
    position:relative;
    margin: 0 auto;
    color:#fff;
    font-weight:200;
    font-family: 'Roboto', sans-serif;
}
.ribbon span {
    position:relative;
    top:2px;
}
.ribbon img {
    margin-right:6px;
}
 .ribbon:before{
 content:"";
 position:absolute;
 border-width:28px 35px 28px 25px;
 border-style:solid;
 border-color:#0088BF;
 border-left-color:transparent;
 border-right-color:#004F6F;
 width:22px;
    top: 32px;
    left: -47px;
 z-index:-1;
} 
.ribbon:after{
 content:"";
 width:22px;
 height:0;
 position:absolute;
 border-style:solid;
 border-color:#0088BF;
 border-width:28px 25px 28px 35px;
 border-right-color:transparent;
 border-left-color:#004F6F;
 top:32px;
 right:-47px;
 z-index:-1;
}

ol {
    color:#00ADF2;
    padding:0;
    margin:0;
    counter-reset: item 
}
li {
    list-style-type: decimal-leading-zero;
    list-style-position: inside;
    border-bottom:1px solid #111111;
    padding:1% 1.5%;
    font-size:1.4em;
    list-style:none;
}
li:before {
    width:27px;
}
.startup {
display: flex;
flex-wrap: wrap;
position:relative;
}
.startup * {
line-height:60px;

}
.row {
    display:inline-block;
}
.count {
    margin-right:10px;
}

.avatar {
    border-radius: 50%;
    margin:0 10px 0 5px;
    width:60px;
    height:60px;
    background:#aaa;
}
div.avatar {
    opacity:0.8;
}

.social {
    color:white;
    font-size:22px;
    position:relative;
    top:-2px;
    margin-left:10px;
    float:right;
}
.social a {
    color:white;
    text-decoration: none;
}
i.icon {
    width: 37px;
    height: 37px;
    display: inline-flex;
    padding:5px 4px 3px 3px;
    border-radius:50%;
    margin-right:5px;
}

i.icon:before {
    position:relative;
    top:2px;
    left:1px;
}

i.icon:after {
    height:18px;
     width:37px;
     border-radius: 37px 37px 0 0;
     -moz-border-radius: 37px 37px 0 0;
     -webkit-border-radius: 37px 37px 0 0;
     background:green;
  -ms-transform: rotate(135deg); /* IE 9 */
    -webkit-transform: rotate(135deg); /* Chrome, Safari, Opera */
    transform: rotate(135deg);
}


.icon-instagram {
    background:#517FA4;
}
.icon-facebook {
    background:#3B5998;
}
.icon-facebook:before {
    left: 0px!important;
}
.icon-twitter {
    background:#4099FF;
}
.icon-locked {
    background:#aaa;
    opacity:0.8;
}
.details {
    width:calc(100% - 110px);
    height:60px;
}
.primary {
    width:56%;    
}
.primary span {
    display:inline-block;
}
.name {
    width:59%;
}
.bus {
    width:39%;
}
.secondary {
    width:42%;
    float:right;
}
.bus {
    /*float:right;*/
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}
@media only screen and (max-width: 1000px) {

}
@media only screen and (max-width: 850px) {
    .details {
        line-height:30px;
    }
    .primary {
        width:calc(100% - 100px);
    }
    .secondary {
        width:100px;
    }
    .primary span, .secondary span {
        width:100%;
    }
    .row {
        /*height:30px;*/
        /*width:100%;*/
        /*float:left;*/
    }
    .row *{
        line-height:30px;
    }
    .row span {
        float:left;
    }
    .row span.social {
        font-size:18px;
        float:right;
    }
    span.social a,span.social i.icon {
        width: 28px;
        height: 28px;
        padding: 3px 0px 3px 1px;
    }
}

@media only screen and (max-width: 700px) {
    h2 span {
        display:none;
    }
    h2 img {
        margin:0;
    }
}

@media only screen and (max-width: 560px) {
    body {
        font-size:0.8em;
    }
    .container {
        width:90%;
    }
    .ribbon {
        width:95%;
    }
    .wrapper {
        width:100%;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}