<section id="home" class="home-section home-parallax home-fade home-full-height" style="background:none; height:900px">

  <div class="hero-slider">
    <ul class="slides">

      <li class="bg-dark-60" style="background-image:url({{ site.data.data.destinationImage }})">
        <div class="hs-caption">
          <div class="caption-content">
            <div class="bus-name">
              STARTUPBUS AMERICAS {{ site.data.data.year }}
            </div>
            <div class="bus-theme mb-30">
              {{ site.data.data.destination }}
            </div>
            <div class="bus-route mb-30">
              {{ site.data.data.dates }}
            </div>
            <a href="/apply#apply" class="btn btn-primary btn-round">Apply now</a>
            <a href="#about" class="section-scroll btn btn-border-w btn-round">Learn More</a>
          </div>
        </div>
      </li>
    </ul>
  </div>

</section >
