    <!-- Portfolio start -->
    <section id="buses" class="module bg-dark">
      <div class="container">

        <div class="row">

          <div class="col-sm-6 col-sm-offset-3">

            <h2 class="module-title font-alt">Our Buses</h2>
            <div class="module-subtitle font-sans-serif">
              We currently have six buses lined up. Each bus will be unlocked once we have enough applicants for it so <u><a href="apply.html">apply now</a></u> and select the bus you're interested in.
            </div>
            <!--<div class="module-subtitle font-sans-serif">
              You can always try to tweet to <u><a href="https://twitter.com/TheStartupBus" target="_blank">@TheStartupBus</a></u> too!
            </div>-->

          </div>

        </div><!-- .row -->

      </div><!-- .container -->

      <!-- Portfolio list start -->
      <ul id="works-grid" class="works-grid works-grid-gut works-grid-3 works-hover-w">

        <!-- Portfolio item start -->
        <li class="work-item illustration webdesign">
          <a href="bus/belgium/">
            <div class="work-image">
              <img src="/images/work-1.jpg" alt="">
            </div>
            <div class="work-caption font-alt">
              <h3 class="work-title">Belgium</h3>
              <div class="work-descr">
                Locked
              </div>
            </div>
          </a>
        </li>
        <!-- Portfolio item end -->

        <!-- Portfolio item start -->
        <li class="work-item marketing photography">
          <a href="bus/estonia/">
            <div class="work-image">
              <img src="assets/images/work-2.jpg" alt="">
            </div>
            <div class="work-caption font-alt">
              <h3 class="work-title">Estonia</h3>
              <div class="work-descr">
                Locked
              </div>
            </div>
          </a>
        </li>
        <!-- Portfolio item end -->

        <!-- Portfolio item start -->
        <li class="work-item illustration photography">
          <a href="bus/germany/">
            <div class="work-image">
              <img src="assets/images/work-3.jpg" alt="">
            </div>
            <div class="work-caption font-alt">
              <h3 class="work-title">Germany</h3>
              <div class="work-descr">
                Locked
              </div>
            </div>
          </a>
        </li>
        <!-- Portfolio item end -->

        <!-- Portfolio item start -->
        <li class="work-item marketing photography">
          <a href="bus/italy/">
            <div class="work-image">
              <img src="assets/images/work-4.jpg" alt="">
            </div>
            <div class="work-caption font-alt">
              <h3 class="work-title">Italy</h3>
              <div class="work-descr">
                Locked
              </div>
            </div>
          </a>
        </li>
        <!-- Portfolio item end -->

        <!-- Portfolio item start -->
        <li class="work-item illustration webdesign">
          <a href="bus/spain/">
            <div class="work-image">
              <img src="assets/images/work-5.jpg" alt="">
            </div>
            <div class="work-caption font-alt">
              <h3 class="work-title">Spain</h3>
              <div class="work-descr">
                Locked
              </div>
            </div>
          </a>
        </li>
        <!-- Portfolio item end -->

        <!-- Portfolio item start -->
        <li class="work-item marketing webdesign">
          <a href="bus/uk">
            <div class="work-image">
              <img src="assets/images/work-6.jpg" alt="">
            </div>
            <div class="work-caption font-alt">
              <h3 class="work-title">United Kingdom</h3>
              <div class="work-descr">
                Locked
              </div>
            </div>
          </a>
        </li>
        <!-- Portfolio item end -->

      </ul>
      <!-- Portfolio list end -->

    </section>
    <!-- Portfolio end -->


