<section id="apply" class="module-small">
      <div class="container">

        <div class="row">
          <div class="col-sm-6 col-md-8 col-lg-6 col-lg-offset-2">
            <div class="callout-w-text font-alt">
              <h3 class="callout-w-title">Need a new adventure?</h3>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-2">
            <div class="callout-w-btn-box">
              <a href="/apply.html" class="btn btn-b btn-round">Choose adventure!</a>
            </div>
          </div>
        </div>

      </div><!-- .container -->
    </section>
