<!-- Home start -->
<section id="home" class="home-section home-parallax home-fade home-full-height">

  <div class="hero-slider">
    <ul class="slides">

      <li class="bg-dark-60 bg-dark" style="background-image:url(/images/epics/ny.jpg)">
        <div class="hs-caption">
          <div class="caption-content">
            <div class="hs-title-size-1 font-alt mb-30">
              Are you crazy enough to
            </div>
            <div class="hs-title-size-4 font-alt mb-30">
              JUMP ON A BUS, CONCEIVE, BUILD AND LAUNCH A STARTUP
            </div>
            <div class="hs-title-size-1 font-alt mb-40">
              WITH A TEAM OF STRANGERS IN 72 HOURS?
            </div>
            <a href="#about" class="section-scroll btn btn-border-w btn-round">Learn More</a>
          </div>
        </div>
      </li>




    </ul>
  </div>

</section >
<!-- Home end -->
