<section class="module" id="how-we-roll">
  <div class="container">
    <div class="row">
      <h2 class="module-title font-alt">How we roll</h2>
    </div>
    <div class="row">
      <div class="font-sansserif col-md-5 col-md-offset-1">
        <blockquote>
          “StartupBus is so much more than just a road trip, or a startup competition, or an intense adventure with people who are a bit looney. It’s a community of people who share values and who believe in a world where problems can be solved in creative ways using modern tools such as software and technology.”
          <br>
          &mdash; Eme Morato, Dev.F
        </blockquote>
        <blockquote>
          “We are a slingshot in the form of a bus that takes tech minded people, forces them to go through the startup equivalent of hazing, and they come out the other side of an intense five day experience knowing what they’re truly capable of.”
          <br>
          &mdash; Taylor Wallace, WeVue
        </blockquote>
      </div>
      <div class="font-sansserif col-md-5">
        <blockquote>
          “It’s Navy SEAL bootcamp for tech entrepreneurs”
          <br>
          &mdash; Greg Ross-Monroe, Sourcetoad
        </blockquote>
        <blockquote>
          “I feel like I’ve joined a SWAT team on a drug raid and they just handed me a gun and said, “Go.”
          <br>
          &mdash; Keith Axline, WIRED
        </blockquote>
        <blockquote>
          “I already live a hectic startup lifestyle, but StartupBus was like taking my startup life, doping it on steroids and then sending it out to space on a rocket ship.”
          <br>
          &mdash; Erica Swallow, Forbes
        </blockquote>
      </div>

    </div>

  </div>

</section>
