<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="module-title font-alt">Panel Discussion</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p style="font-size:16px">Thanks to <a style="text-decoration: underline;" href="https://www.boxcast.com">Boxcast</a> the Akron bus will be live streaming a panel discussion (<b>right here!</b>) on the maker and IoT movement at <b>5pm EST May 14th</b>.  The panel is geared toward helping riders of the MakerBus prepare for the epic journey they have ahead of them and to help them come up with awesome ideas for projects.  We'll also be discussing entrepreneurship and how to take something from just a project done on a bus to a fully functioning business (like our friends at <a style="text-decoration: underline;" href="http://wastebits.com/">Wastebits</a>).</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div id="boxcast-widget-gy64uapjempmqueg0fdg"> <script type="text/javascript"> var s = document.createElement('script'); var a = String.fromCharCode; var h = (('https:' == document.location.protocol) ? 'https:' : 'http:'); s.setAttribute('data-action', 'boxcast-widget-load'); s.setAttribute('data-handle', 'gy64uapjempmqueg0fdg'); s.setAttribute('data-options', 'version=3'); s.src = h + '//js.boxcast.com/v2.widget.js'; document.getElementsByTagName('head')[0].appendChild(s); </script> </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="main">
  <section id="mentors" class="mentors mentors-section module-small">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="module-title font-alt">

            Panelists:

        </h2>
      </div>
    </div>
    <div class="row">

        <div class="mentor col-md-3">
          <div class="mentor-headshot">
            <img src="/images/headshots/2016/ken.jpg" alt="A stunning photo of Ken Burns" class="img-circle">
          </div>
          <div class="mentor-name">
            <h3 class="font-alt">Ken Burns</h3>
          </div>
          <div class="mentor-bio">
          Founded <a style="text-decoration: underline;" href="https://tinycircuits.com/">Tiny Circuts</a> in 2011.  Tiny Circuts is an Open Source Hardware company specializing in designing and manufacturing very small electronics. Based out of Akron, OH.
          </div>
        </div>

        <div class="mentor col-md-3">
          <div class="mentor-headshot">
            <img src="/images/headshots/2016/bue.jpg" alt="A stunning photo of Chris Bue" class="img-circle">
          </div>
          <div class="mentor-name">
            <h3 class="font-alt">Chris Bue</h3>
          </div>
          <div class="mentor-bio">
          Runs <a style="text-decoration: underline;" href="http://www.makerbiz.co/">MakerBiz Chicago</a> which is a support network for of an for entrepreneurs.  She's also avidly involved in StartupBus.  She conducted the 2015 MakerBus and will be acting as a mentor on this year's MakerBus.
          </div>
        </div>



        <div class="mentor col-md-3">
          <div class="mentor-headshot">
            <img src="/images/headshots/2016/g.jpg" alt="A stunning photo of Gaurav Saxena" class="img-circle">
          </div>
          <div class="mentor-name">
            <h3 class="font-alt">Gaurav Saxena <br>(aka G)</h3>
          </div>
          <div class="mentor-bio">
          Founded the <a style="text-decoration: underline;" href="http://synhak.org/">Akron Makerspace</a>.  The Akron Makerspace is a nonprofit makerspace in the heart of downtown Akron dedicated to being a place where people can educate, create, and share amongst themselves and others within the domains of technology, art and science.
          </div>
        </div>

        <div class="mentor col-md-3">
          <div class="mentor-headshot">
            <img src="/images/headshots/2016/andrea.jpg" alt="A stunning photo of Andrea Lane" class="img-circle">
          </div>
          <div class="mentor-name">
            <h3 class="font-alt">Andrea Lane</h3>
          </div>
          <div class="mentor-bio">
            Andrea runs a <a style="text-decoration: underline;" href="https://alfablab.wordpress.com/">mobile fab lab</a> which she drives to schools to teach kids about how to bring their ideas to life.
          </div>
        </div>

    </div>

  </section>
</div>

</div>
