
    <ul class="slides">
      <!-- Slide 1 start -->
      <li>
        <div class="container">

          <div class="row">

            <div class="col-sm-12">
              <div class="module-icon">
                <span class="icon-quote"></span>
              </div>
            </div>

          </div><!-- .row -->

          <div class="row">

            <div class="col-sm-8 col-sm-offset-2">
              <blockquote class="testimonial-text font-alt">
                “The StartupBus is as close to blood sport as Silicon Valley entrepreneurship gets. By compressing the time from concept to prototype, it becomes a pedal-to-the metal business incubator.”
              </blockquote>
            </div>

          </div><!-- .row -->

          <div class="row">

            <div class="col-sm-4 col-sm-offset-4">
              <div class="testimonial-author">
                <div class="testimonial-caption font-alt">
                  <div class="testimonial-title">
                    WIRED
                  </div>
                </div>
              </div>
            </div>

          </div><!-- .row -->

        </div><!-- .container -->
      </li>
      <!-- Slide 1 end -->

      <!-- Slide 2 start -->
      <li>
        <div class="container">

          <div class="row">

            <div class="col-sm-12">
              <div class="module-icon">
                <span class="icon-quote"></span>
              </div>
            </div>

          </div><!-- .row -->

          <div class="row">

            <div class="col-sm-8 col-sm-offset-2">
              <blockquote class="testimonial-text font-alt">
                “Participants will tell you that the StartupBus is the mother of all hackathons... Imagine building a real startup in a compressed time capsule traveling at 60 miles per hour.”
              </blockquote>
            </div>

          </div><!-- .row -->

          <div class="row">

            <div class="col-sm-4 col-sm-offset-4">
              <div class="testimonial-author">
                <div class="testimonial-caption font-alt">
                  <div class="testimonial-title">VentureBeat</div>
                </div>
              </div>
            </div>

          </div><!-- .row -->

        </div><!-- .container -->
      </li>
      <!-- Slide 2 end -->

      <!-- Slide 3 start -->
      <li>
        <div class="container">

          <div class="row">

            <div class="col-sm-12">
              <div class="module-icon">
                <span class="icon-quote"></span>
              </div>
            </div>

          </div><!-- .row -->

          <div class="row">

            <div class="col-sm-8 col-sm-offset-2">
              <blockquote class="testimonial-text font-alt">
                “StartupBus isn’t just a hackathon on a Greyhound bus. It’s also a self-starter alumni organization that isn’t only about who you know. It’s built on ambition, ingenuity and rest stop hot dogs.”
              </blockquote>
            </div>

          </div><!-- .row -->

          <div class="row">

            <div class="col-sm-4 col-sm-offset-4">
              <div class="testimonial-author">
                <div class="testimonial-caption font-alt">
                  <div class="testimonial-title">The Huffington Post</div>
                </div>
              </div>
            </div>

          </div><!-- .row -->

        </div><!-- .container -->
      </li>
      <!-- Slide 3 end -->

      <!-- Slide 4 start -->
      <li>
        <div class="container">

          <div class="row">

            <div class="col-sm-12">
              <div class="module-icon">
                <span class="icon-quote"></span>
              </div>
            </div>

          </div><!-- .row -->

          <div class="row">

            <div class="col-sm-8 col-sm-offset-2">
              <blockquote class="testimonial-text font-alt">
                “The StartupBus is the world’s most frenetic startup incubator – not to mention its most reality-TV-ready one – hurling along the freeway with a group of 30 or so ambitious entrepreneurs who have just met.”
              </blockquote>
            </div>

          </div><!-- .row -->

          <div class="row">

            <div class="col-sm-4 col-sm-offset-4">
              <div class="testimonial-author">
                <div class="testimonial-caption font-alt">
                  <div class="testimonial-title">Fast Company</div>
                </div>
              </div>
            </div>

          </div><!-- .row -->

        </div><!-- .container -->
      </li>
      <!-- Slide 4 end -->

    </ul>
