<div id="about" class="link-anchor"></div>
<div class="main">
  <section class="module-small">
    <div id="overview" class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="module-title font-alt">We Believe</h2>
          <h2 class="module-title font-alt" style="margin:0">
            "Entrepreneurship can't be taught – but it can be learned"
          </h2>
          <h3 style="text-align:right">—Elias Bizannes, Founder of StartupBus</h3>
        </div>
      </div>
    </div>
  </section>
</div>
