.inline {
  display: inline;
}


.flex-direction-nav {
  display: none !important;
}

.link-anchor {
  position: relative;
  top: -172px;
}

.hero {
  text-align: center;
}

.landing.hero {

}

.pudding-container {
  background: rgba(10, 10, 10, .9) !important;
}

#the-pudding {
  color: white;
  background: rgba(10, 10, 10, .9);
  transition: background 0.5s ease;
  z-index: 99999 !important;
  position: relative;
  width: 100%;
}

.is-sticky #the-pudding {
  background: rgba(10, 10, 10, .9);
  left: 15px;
}

#the-pudding a {
  color: white;
  display: block;
  padding-top: 15px;
}

.pudding-item {
  text-align: center;
}

#the-pudding h3, #the-pudding h5 {
  margin: 0;
}

#the-pudding-sticky-wrapper #the-pudding {
  left: 15px;
}

.highligher {
  height: 5px;
  margin: 0 auto;
  width: 100px;
  transition: background 0.5s ease;
  background: rgba(255, 255, 255, 0);
}


.highligher.lit {
  background: rgba(255, 255, 255, 1);
}

@media (max-width: 450px) {
  .plus-alumni {
    display: none;
  }
}
