<div class="main">
  <div class="container">
    <div class="row">
      <h2 class="module-title font-alt details-padding">
        {% if page.content_title %}
          {{ page.content_title }}
        {% else %}
          WHAT DO YOU GET WHEN YOU PUT 30 STRANGERS ON A BUS AND GIVE THEM <br>72 HOURS TO CONCEIVE, BUILD &amp; LAUNCH A STARTUP? </br>THE RIDE OF A LIFETIME.
        {% endif %}
      </h2>
      <div class="module-subtitle align-left font-sansserif col-md-8 col-md-offset-2">
        {{ content }}
      </div>
    </div>
    {% capture page_desc %}
        {{ site.data.buses[page.bus].theme.description }}
    {% endcapture %}

    {% if page_desc %}
    <div class="row">
      <h2 class="module-title font-alt">The {{ site.data.buses[page.bus].theme.name }} Theme:</h2>
      <div class="module-subtitle align-left font-sansserif col-md-6 col-md-offset-3">
        {{ page_desc }}
      </div>
    </div>
    {% endif %}
  </div>
</div>
