<div class="main">
  <section id="conductors" class="conductors conductors-section module-small">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="module-title font-alt">Your {{ page.bus }} Conductor{% if site.data.buses[page.bus].conductors.size > 1 %}s{% endif %}:</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      {% for conductor in site.data.buses[page.bus].conductors %}
        <div class="conductor col-md-{{ 6 | divided_by: site.data.buses[page.bus].conductors.size }}">
          <div class="conductor-headshot">
            <img src="{% if conductor.headshot %}{{ conductor.headshot }}{% else %}/images/headshots/sb.png{% endif %}" alt="A stunning photo of {{ conductor.name }}" class="img-circle">
          </div>
          <div class="conductor-name">
            <h3 class="font-alt">{{ conductor.name }}</h3>
          </div>
          <div class="conductor-bio">
            {{ conductor.bio }}
          </div>
        </div>
      {% endfor %}
    </div>

  </section>
</div>
