<div class="main">
  <section id="conductors" class="conductors conductors-section module-small">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="module-title font-alt">Introducing your {{ page.bus }} Bus Conductors:</h2>
      </div>
    </div>
    <div class="row">
      {% for conductor in site.data.conductors[page.bus] %}
        <div class="conductor col-md-{{ 12 | divided_by: site.data.conductors[page.bus].size }}">
          <div class="conductor-headshot">
            <img src="{{ conductor.headshot }}" alt="A stunning photo of {{ conductor.name }}" class="img-circle">
          </div>
          <div class="conductor-name">
            <h3 class="font-alt">{{ conductor.name }}</h3>
          </div>
          <div class="conductor-bio">
            {{ conductor.bio }}
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
</div>
