.conductors {
  background: white;
}

.conductors .conductor {
  text-align: center;
}

.conductors .conductor-headshot {
  height: 250px;
}

.conductors .conductor-headshot img {
  height: 100%;
}


.mentors {
  background: white;
}

.mentors .mentor {
  text-align: center;
}

.mentors .mentor-headshot {
  height: 175px;
}

.mentors .mentor-headshot img {
  height: 100%;
}
