{% unless params.noContainer %}
  <div class="container">
{% endunless %}

  {% if params.title %}
    <h2 class="font-alt text-center">{{ params.title }}</h2>
  {% endif %}


  <div class="row">
    <div class="col-xs-12">
      <ul id="works-grid" class="works-grid works-grid-gut works-grid-{{ params.cols }} works-hover-w">
        {% for sponsor in sponsors %}
          <li class="work-item illustration webdesign" style="">
            <a href="{{ sponsor.link }}" target="__blank">
              <div class="work-image">
                <img src="{{ sponsor.logo }}" alt="{{ sponsor.name }}" style="">
              </div>
              <div class="work-caption font-alt">
                <h3 class="work-title">{{ sponsor.name }}</h3>
                <div class="work-descr">
                    {{ sponsor.description }}
                </div>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

{% unless params.noContainer %}
  </div>
{% endunless %}
