<!-- Home start -->
<section id="home" class="home-section home-fade home-half-height">

  <div class="hero-slider">
    <ul class="slides">

      <li class="bg-dark-60 bg-dark" style="background-image:url(/images/epics/monument-valley-1127714_1920.jpg)">
        <div class="hs-caption">
          <div class="caption-content">
            <div class="hs-title-size-4 font-alt mb-40">
              {{ page.title }}
            </div>
            <div class="hs-title-size-1 font-alt mb-30">
              StartupBus
            </div>
          </div>
        </div>
        </li>
      </ul>
    </div>

</section >
