<section id="about-logistics-2" class="module">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="module-title font-alt">What am I getting myself into?</h2>
      </div>
    </div>
    <div class="row">
      <div class="module-subtitle align-left font-sansserif col-md-6 col-md-offset-3">
        <p>We're not going to sugarcoat it, the ride to Colorado will be tough. You're not going to get much sleep and you may have to fight people off to charge your devices. You'll be pushed past your limits and will go through *all* the feels. But it'll all be worth it when you find greatness on the other side.</p>

        <p>We can promise you that the few, the proud, the brave who are selected to join our elite crew will leave with the experience of a lifetime, a new group of best friends/business partners, a whole new view of what's possible and plenty of tales from the trenches.</p>

        <p>If you're crazy enough to hop on a bus and build a business with a bunch of strangers in 3 days – or you know someone who is – send them our way. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h2 class="module-title font-alt">Epicness awaits.</h2>
      </div>
    </div>
  </div>
</section>
