<section id="about-logistics-2" class="module">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="module-title font-alt">YOUR MISSION</h2>
      </div>
    </div>
    <div class="row">
      <div class="module-subtitle font-sansserif col-md-8 col-md-offset-2">
        <p>Jump on a bus, conceive, build and launch a startup with a team of strangers in 72 hours at 70 mph – then pitch Techstars on stage at Boulder Startup Week.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h2 class="module-title font-alt">DESTINATION:  BOULDER STARTUP WEEK</h2>
      </div>
    </div>
    <div class="row">
      <div class="module-subtitle font-sansserif col-md-8 col-md-offset-2">
        <p>On May 15th, the best and the brightest will come together to compete in StartupBus Americas VII, the continent’s most epic competition – combing the magic of a hackathon and a road trip to create the ultimate adventure on wheels.</p>
        </br>
        <p>We’ll be hitting all the raddest hot spots and tech shops as we make our way to Boulder Startup Week, where buses from 3 countries will converge in the quest for StartupBus glory. This year each bus is going to have a theme, so you can choose your own adventure. Finalists will get the chance to pitch on stage for Techstars at the historic Boulder Theater.</p>
      </div>
    </div>
  </div>
</section>
