<section id="about-logistics-2" class="module">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="module-title font-alt">YOUR MISSION</h2>
      </div>
    </div>
    <div class="row">
      <div class="module-subtitle align-left font-sansserif col-md-8 col-md-offset-2">
        <p>Jump on a bus, conceive, build and launch a startup with a team of strangers in 72 hours at 70 mph!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h2 class="module-title font-alt" style="text-transform:uppercase">DESTINATION: {{ site.data.data.destination }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="module-subtitle align-left font-sansserif col-md-8 col-md-offset-2">
        {{ site.data.data["your-mission-prompt"] }}
      </div>
    </div>
  </div>
</section>
