<div class="main">
  <section id="about" class="module-small">
    <div id="overview" class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="module-title font-alt">
            "Entrepreneurship can't be taught – but it can be learned"
          </h2>
        </div>
      </div>
    </div>
  </section>
  <section id="whatwhy" class="module-small bg-dark" style="background-image:url(/images/new-york-city-represents_13147637774_o.jpg)">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-6 mb-sm-20 wow fadeInUp">
          <h3 class="module-title font-alt">Our Mission</h3>
          <div class="module-subtitle font-sansserif">
            Empowering people to disrupt the status quo and create a better life for us all.
          </div>
          <h3 class="module-title font-alt">So What Is It?</h3>
          <div class="module-subtitle font-sansserif">
            Equal parts hackathon, road trip and global community, StartupBus is an annual
            competition designed to empower the tech community -- challenging top tier talent
            to hop on a bus and conceive, build and launch a startup in 72 hours.
          </div>
        </div>
        <div class="col-sm-6 col-md-6 mb-sm-20 wow fadeInUp">
          <h3 class="module-title font-alt">Why?</h3>
          <div class="module-subtitle font-sansserif">
            Created to develop and inspire creators of the next generation of technology
            companies through unique experiences and inspirational connections, StartupBus
            is a bootcamp that fast forwards lives and careers – changing how people see
            the world and their place in it.
          </div>
          <div class="module-subtitle font-sansserif">
            Even though our competitions are legendary, the ultimate goal is to build the
            largest network of tested entrepreneurs on the planet, with unprecedented
            access to a diverse pool of talent, ideas and resources.
          </div>
        </div>
      </div><!-- .row -->
    </div><!-- .container -->
  </section>
</div>
