    <section id="community" class="module">
      <div class="container">
        <div class="row">
          <h2 class="module-title font-alt">Join a kick ass global community</h2>

            <div class="module-subtitle align-left font-sansserif col-md-6 col-md-offset-3">
            <p>
              You’ve heard it before: “the StartupBus will change your life” – but it’s only
              after 3 days of no sleep and countless hours on the road that you understand
              what it means to be part of the tribe.
            </p>
            <p>
              More than an event, annual StartupBus competitions also act as a feeder and
              initiation rite for those joining the StartupBus community. With over a thousand
              people, it’s a #DreamTeam you can’t buy your way into.
            </p>
            <p>
              Join ranks with some of the most elite hackers, makers and hustlers around, create
              lifelong friendships and fill the rolodex with a list of insanely awesome people you
              can call at any time.
            </p>
            <p>
              Coming from all across the globe, with almost 50% women, the “brogrammer” attitude
              just doesn’t fly. Our alumni live, work and play together, creating companies worth
              billions while changing the world around them.
            </p>
          </div>
        </div>
      </div>
      <!-- social -->
      <!--<div class="row" style="margin-top:20px;">
          <li class="col-md-2 col-md-offset-2"><a href="http://twitter.com/thestartupbus" onclick="trackOutboundLink(this, 'Outbound', 'twitter.com/thestartupbus'); return false;"><i class="fa fa-twitter fa-big"></i></a></li>
          <li class="col-md-2"><a href="http://facebook.com/thestartupbus" onclick="trackOutboundLink(this, 'Outbound', 'facebook.com/thestartupbus'); return false;"><i class="fa fa-facebook fa-big"></i></a></li>
          <li class="col-md-2"><a href="https://www.youtube.com/user/StartupBus" onclick="trackOutboundLink(this, 'Outbound', 'youtube.com/user/StartupBus'); return false;"><i class="fa fa-youtube fa-big"></i></a></li>
        <li class="col-md-2"><a href="http://eepurl.com/V8qAb" onclick="trackOutboundLink(this, 'Outbound', 'newsletter'); return false;" style="color: #fff; font-size: 24px;" target="_blank"><i class="fa fa-envelope fa-big"></i></a></li>
      </div>-->
    </section>
