    <section id="startupbustv" class="module-small">
        <h2 class="module-title font-alt">Feeling the FOMO?</h2>
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <img src="/images/fomo_background.jpg" alt="StartupBus.TV recording">
          </div>
          <div class="module-subtitle align-left font-sansserif col-md-5">
            <p>
              For those not participating in the competition, the event is live tweeted
              and streamed on <a href="https://livestream.com/thestartupbus" target="_blank"><u>StartupBus.TV</u></a>
              so the experience can be enjoyed vicariously in real time.
            </p>
            <p>
              We also have <a href="http://game.startupbus.com" target="_blank"><u>BUSDAQ</u></a>, a faux stock
              market where people can follow the progress and invest in StartupBus companies as they're being
              created.
            </p>
          </div>
        </div>

    </section>
