<!-- Home start -->
<section id="home" class="home-section home-parallax home-fade home-full-height">

  <div class="hero-slider">
    <ul class="slides">

      <li class="bg-dark-60 bg-dark" style="background-image:url(/images/epics/monument-valley-1127714_1920.jpg)">
        <div class="hs-caption">
          <div class="caption-content">
            <div class="bus-name">
              STARTUPBUS AMERICAS 2016
            </div>
            <div class="bus-theme mb-30">
              Destination: Boulder, Colorado
            </div>
            <div class="bus-route mb-30">
              May 15 - 19, 2016
            </div>
            <a href="/apply#apply" class="btn btn-primary btn-round">Apply now</a>
            <a href="#about" class="section-scroll btn btn-border-w btn-round">Learn More</a>
          </div>
        </div>
      </li>




    </ul>
  </div>

</section >
<!-- Home end -->
