<div class="main">
  <section id="sponsors" class="module-small">
    <div id="overview" class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="module-title font-alt">Brought to you by:</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="sponsor-logo-container">
            <img src="/images/sponsors/uber.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="sponsor-logo-container">
            <img src="/images/sponsors/cisco.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
