<section id="buses" class="module bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3"></div>
    </div>
  </div>
</section>


    <!-- Portfolio start -->
    <section id="buses" class="module bg-dark">
      <div class="container">

        <div class="row">

          <div class="col-sm-6 col-sm-offset-3">

            <h2 class="module-title font-alt">Our Buses</h2>
            <div class="module-subtitle font-sans-serif">
              We currently have six buses lined up. Each bus will be unlocked once we have enough applicants for it so <u><a href="apply.html">apply now</a></u> and select the bus you're interested in.
            </div>
            <!--<div class="module-subtitle font-sans-serif">
              You can always try to tweet to <u><a href="https://twitter.com/TheStartupBus" target="_blank">@TheStartupBus</a></u> too!
            </div>-->

          </div>

        </div><!-- .row -->

      </div><!-- .container -->

      <!-- Portfolio list start -->
      <ul id="works-grid" class="works-grid works-grid-gut works-grid-3 works-hover-w">

        {% for bus in site.data.buses %}
        <!-- Portfolio item start -->
        <li class="work-item illustration webdesign">
        <a href="/buses{{ bus[1].url }}">
          <div style="position:relative;overflow:hidden">
            <img src="{{ bus[1].city_image }}" alt="" style="height:273px;width:100%">
            <div style="position:absolute;top:0;left:0;background: black;opacity: 0.2;height:100%;width:100%"></div>
            <img src="/images/sb.png" alt="" style="position:absolute;top:0;left:25%;width:50%">
            <div style="text-align: center;top:75%;position: absolute;width: 100%;">
              <div class="hs-title-size-2 font-alt" style="color:white">{{ bus[0] }}</div>
            </div>

          </div>


<!--             <div class="work-image">
              <img src="{{ bus[1].city_image }}" alt="">
            </div>
            <div class="work-caption font-alt">
              <h3 class="work-title">{{ bus[0] }}</h3>
              <div class="work-descr">
                Locked
              </div>
            </div> -->
          </a>
        </li>
        {% endfor %}
        <!-- Portfolio item end -->
      </ul>
      <!-- Portfolio list end -->

    </section>
    <!-- Portfolio end -->
