<div id="the-pudding" class="c2017-scorecard row">
  <div class="container">
    <div class="col-xs-3">
      <a class="pudding-link" href="#about">
        <div class="count-item">
          <div class="count-icon">
            <span class="icon-calendar"></span>
          </div>
          <h5 class="count-title font-serif">Started&nbsp;In</h5>
          <h3 class="count-to font-alt" data-countto="2010">&nbsp;</h3>
          <div class="highligher" data-for="#about"></div>
        </div>
      </a>
    </div>
    <div class="col-xs-3">
      <a class="pudding-link" href="#">
        <div class="count-item">
          <div class="count-icon">
            <span class="icon-wallet"></span>
          </div>
          <h3 class="count-to font-alt" data-countto="273">&nbsp;</h3>
          <h5 class="count-title font-serif">Startups</h5>
          <div class="highligher" data-for="#"></div>
        </div>
      </a>
    </div>
    <div class="col-xs-3">
      <a class="pudding-link" href="#alumni">
        <div class="count-item">
          <div class="count-icon">
            <span class="icon-wallet"></span>
          </div>
          <div>
            <h3 class="count-to font-alt inline" data-countto="1600">&nbsp;</h3>
            <h3 class="font-alt inline plus-alumni">+</h3>
          </div>
          <h5 class="count-title font-serif">Alumni</h5>
          <div class="highligher" data-for="#alumni"></div>
        </div>
      </a>
    </div>
    <div class="col-xs-3">
      <a class="pudding-link" href="#europe">
        <div class="count-item">
          <div class="count-icon">
            <span class="icon-global"></span>
          </div>
          <h3 class="count-to font-alt" data-countto="26">&nbsp;</h3>
          <h5 class="count-title font-serif">Countries</h5>
          <div class="highligher" data-for="#europe"></div>
        </div>
      </a>
    </div>
  </div>
</div>
