<section id="home" class="home-section home-parallax home-fade home-full-height">
  <div class="hero-slider bg-dark-60 bg-dark">

    <div id="map-canvas"></div>
        <div id="floating-panel" class="hs-caption">
          <div class="caption-content caption-top">
            <div class="bus-name">
              STARTUPBUS AMERICAS 2016
            </div>
            <div class="bus-theme mb-30">
              Destination: Boulder, Colorado
            </div>
          </div>
        </div>
  </div>
</section >
